* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
  max-height: 92px;
  padding: 16px 120px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  width: 100%;
}
nav img {
  max-width: 139px;
  max-height: 60px;
}

nav ul {
  max-width: 367px;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0078d4;
}

nav button {
  padding: 16px 12px;
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

nav button:hover,
.first-btn:hover,
.second-btn:hover {
  background-color: #0078d4;
  transition: 0.3s;
}

.early-access-btn:hover {
  transition: 0.3s;
  background-color: beige;
  cursor: pointer;
}

.hero {
  background: url("./assets/hero-bg.png"); /*hero-background*/
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  max-width: 1600px;
  height: 674px;
  padding: 70px 120px 134px 120px;
  color: white;
}

.hero-content {
  margin: 0 auto;
  max-width: 1360px;
  max-height: 379px;
}

.hero-content .early-access-btn {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  border: none;
  border-radius: 1000px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.hero-content .early-access-btn .dot {
  width: 16px;
  height: 16px;
  padding-top: 2px;
}

.hero-content .hero-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  max-width: 770px;
  max-height: 168px;
  margin-bottom: 16px;
}
.hero-content .hero-title .highlight {
  color: #30b868;
}

.hero-content .hero-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.hero-btns {
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}

.first-btn {
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-right: 16px;
}

.second-btn {
  background: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
}

.hero-btns a {
  text-decoration: none;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.second-sec {
  padding: 120px 120px 0px 120px;
  max-width: 1600px;
  height: 448px;
}

.second-sec .sec-title {
  max-width: 1360px;
  height: 153px;
  margin-bottom: 44px;
  text-align: center;
}

.second-sec .sec-title h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #001931;
}

.second-sec .sec-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #627382;
}
.box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  width: 322px;
  height: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 24px;
  padding-top: 69.5px;
}

.box .card img {
  background-color: #f95555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
  margin-bottom: 16px;

  top: 69.5px;
  left: 131px;
}

.box .card h3 {
  color: #001931;
  font-size: 24;
  font-weight: 600;
  margin-bottom: 16px;
}
.box .card p {
  color: #627382;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20.5px;
}

.card:hover {
  transition: 0.5s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.third-sec {
  margin-top: 150px;
  max-width: 1600px;
  height: 840px;
}

.third-sec .dual {
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  /* background-color: #30b868; */
}

.dual img {
  max-width: 600px;
  max-height: 600px;
}

.dual .third-sec-content {
  padding: 102px 0px;
}

.third-sec-content .green-p {
  color: #30b868;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.dual-text h1 {
  font-size: 48px;
  color: #001931;
  font-weight: 700;
}

.dual-text p {
  font-size: 16px;
  color: #001931;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
} 

.third-sec-content ul li {
  list-style: none;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.third-sec-content ul li img{
  margin-bottom: -5px;
}
