* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav {
  max-height: 92px;
  padding: 16px 120px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  width: 100%;
}
nav img {
  max-width: 139px;
  max-height: 60px;
}

nav ul {
  max-width: 367px;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0078d4;
}

nav button {
  padding: 16px 12px;
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

nav button:hover,
.first-btn:hover,
.second-btn:hover {
  background-color: #0078d4;
  transition: 0.3s;
}

.early-access-btn:hover {
  transition: 0.3s;
  background-color: beige;
  cursor: pointer;
}

.hero {
  background: url("./assets/hero-bg.png"); /*hero-background*/
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  max-width: 1600px;
  height: 674px;
  padding: 70px 120px 134px 120px;
  color: white;
}

.hero-content {
  margin: 0 auto;
  max-width: 1360px;
  max-height: 379px;
}

.hero-content .early-access-btn {
  font-size: 16px;
  font-weight: 500;
  color: #30b868;
  border: none;
  border-radius: 1000px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.hero-content .early-access-btn .dot {
  width: 16px;
  height: 16px;
  padding-top: 2px;
}

.hero-content .hero-title {
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  max-width: 770px;
  max-height: 168px;
  margin-bottom: 16px;
}
.hero-content .hero-title .highlight {
  color: #30b868;
}

.hero-content .hero-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.hero-btns {
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
}

.first-btn {
  background-color: #30b868;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-right: 16px;
}

.second-btn {
  background: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid white;
}

.hero-btns a {
  text-decoration: none;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
