* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font{
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}
nav{
  max-height: 92px;
  max-width: 1600px;
  width: 100%;
  padding: 16px 120px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  
}
nav img {
  max-width: 139px;
  max-height: 60px;
}

nav ul{
  max-width: 367px;
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0078D4;
}

nav button{
  padding: 16px 12px;
  background-color: #30B868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

nav button:hover{
  background-color: #0078D4;
  transition: 0.3s;
}

